/* Alterado por: Ariane

import GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* .principal {
    width: 900px;
} */

.avatar {
    max-width: 80%;
    margin-top: 50%;
    margin-left: 13px;
}

.avatar-img {
    max-width: 60%;
    max-height: 70%;
    margin-left: 22%;
}

.nomeParticipante, .cargoParticipante {
    padding-left: 10%;
    font-weight: 800;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.cargoParticipante {
    margin-top: 1.5px;
    font-weight: 300;
}

.perfil {
    width: 300px;
}

.dadosParticipante, li {
    max-width: 400px;
    max-height: 400px;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    list-style-type: none;
}

.dadosParticipante {
    margin-top: 30px;
}


.icon-rede-social {
    width: 24px;
}

.rede-social {
    font-family: 'Roboto', sans-serif;
    color: rgba(33, 36, 36, 0.89);
}

.icon-contato {
    margin-right: 10px;
    opacity: 0.5;
} 

.button-cv {
    position: relative;
    left: 15%;
    margin-top: 22px;
    background-color: rgb(177, 52, 100);
    border: rgb(177, 52, 100);
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

.button-cv:hover {
    background-color: rgb(209, 99, 145);
}

.resumo {
    position: absolute;
    top: 28%;
    left: 36%;
}

.resumo-titulo, .objetivo-titulo, .habilidades-titulo, .experiencia-titulo, .formacao-titulo {
    width: 800px;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.p-resumo, .p-objetivo, .p-habilidades, .p-cargo  {
    margin-top: 10px;
    min-width: 680px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis; 
    display: inline-block;
    overflow: hidden !important;
}

.p-resumo {
    max-height: 145px;
}

.objetivo {
    position: absolute;
    top: 13%;
    left: -4%;
}

.p-objetivo {
    max-height: 50px;
}

.habilidades{
    position: absolute;
    top: 25%;
    left: -4%;
}

.p-habilidades {
    min-height: 70px;
} 

.experiencia {
    width: 820px;
    position: relative;
    top: 40%;
    left: -6.5%;
}

.empresa, .instituicao{
    width: 820px;
    display: flex;
    height: 40px;
} 
.p-periodo, .p-empresa, .p-instituicao {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.p-empresa, .p-instituicao {
    margin-top: 12px;
    width: 450px;
    display: flex;
    margin-left: 0.5em;
} 

.p-cargo, .p-curso {
    margin-top: 39px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.icon-business, .icon-formacao, .icon-calendar {
    opacity: 0.5;
}

.icon-calendar, .icon-business {
    height: 24px;
    margin-top: 0%;
}

.p-periodo {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    float: left;
}

.p-periodo .icon-calendar {
    margin-right: 0.5em;
}

.icon-business, .icon-formacao, .p-periodo {
    margin-top: 10px;
}

.formacao {
    position: relative;
    width: 820px;
    margin-top: 70%;
    left: -6.5%;
}

.instituicao, .p-curso {
    position: relative;
    bottom: 1em;
}

.linha {
    max-width: 830px;
    margin-left: 0px;
}

.linha-dados {
    max-width: 280px;
    margin-left: -35px;
}

.col-lg-4, col-md-12 {
    right: 5%;
    width: 300px;
    height: 820px;
}

@media screen and (max-width: 480px) {

    .col-lg-4, col-md-12 {
        padding-left: 16%;
    }

    .col-lg-8, md-12 {
        padding-top: 10%;
    }

    .objetivo {
        margin-top: -40%;
    }

    .objetivo, .habilidades{
        padding-left: 10%;
        max-width: 800px;
    }
 
    .objetivo .p-objetivo {
        max-height: 100px;
    }  

    .habilidades {
        margin-top: -30px;
        /* padding-top: -40%; */
    }

    .experiencia, .formacao {
        padding-left: 10%;
         max-width: 80%;
    }

    .formacao {
        padding-top: 85%;
    }

    .p-instituicao, .p-empresa {
        max-width: 60%;
        padding-left: 2px;
        max-height: 20%;
    }

     .icon-formacao {
        height: 24px;
    } 

    .instituicao, .empresa {
        width: 333px;
        padding-bottom: 65px !important;
    }

    .p-periodo {
        max-width: 50%;
        display: flex;
        justify-content: flex-start;
        float: right;
    }

    .avatar-img {
        width: 100%;
    }

    .objetivo-titulo, .habilidades-titulo, .experiencia-titulo, .formacao-titulo {
        width: 300px;
    }
}

