@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.avatar  {
    align-items: center;
}

.avatar-img {
    width: 50%;
    margin-left: 100px;
}

.row-margin-top-cv {
    margin-top: 20%;
}

.nomeParticipante, .cargoParticipante {
    padding-left: 10%;
    font-weight: 800;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.cargoParticipante {
    margin-top: 1.5px;
    font-weight: 300;
}

.dadosParticipante li {
    margin-left: 7%; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    list-style-type: none;
}

.dadosParticipante {
    margin-top: 30px;
}

.icon-rede-social {
    width: 24px;
}

.rede-social {
    font-family: 'Roboto', sans-serif;
    color: rgba(33, 36, 36, 0.89);
}

.icon-contato {
    margin-right: 10px;
    opacity: 0.5;
} 

.button-cv {
    position: relative;
    left: 28%;
    margin-top: 22px;
    background-color: rgb(177, 52, 100);
    border: rgb(177, 52, 100);
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

.button-cv:hover {
    background-color: rgb(209, 99, 145);
}

 .objetivo-titulo, .habilidades-titulo, .experiencia-titulo, .formacao-titulo {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

 .p-objetivo, .p-habilidades, .p-cargo  {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis; 
    display: inline-block;
    overflow: hidden !important;
}

.objetivo, .habilidades, .experiencia, .formacao, .instituicao, .p-curso {
    position: relative;
}

.p-objetivo, .p-habilidades {
    min-height: 50px;
}

.p-periodo, .p-empresa, .p-instituicao {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.p-empresa, .p-instituicao {
    margin-top: 12px;
    margin-right: 0.5em;
    min-width: 380px;
} 

 .instituicao, .empresa{
    display: flex;
    justify-content: space-between;
} 

.p-cargo, .p-curso {
    margin-top: 39px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.icon-business, .icon-formacao, .icon-calendar {
    opacity: 0.5;
}

.icon-calendar, .icon-business {
    height: 24px;
    margin-top: 0%;
}

.p-periodo {
   left: 20%;
} 

.p-periodo .icon-calendar {
    margin-right: 0.5em;
}

.icon-business, .p-periodo {
    margin-top: 10px;
}

 .icon-business, .icon-formacao {
    margin-right: -145px;
} 

.linha-dados {
    width: 250px;
    margin-right: 50px;
}


@media screen and (max-width: 480px) { 

     .p-periodo {
        min-width: 135px;
    }   
    .p-instituicao, .p-empresa {
        position: relative;
        min-width: 180px;
    }

    .instituicao .icon-formacao, .icon-business {
        margin-right: 0.5em;
    }

    .row-margin-top-cv {
        margin-top: 30%;
    }
} 

@media screen and (min-width: 600px) { 

    .objetivo, .habilidades, .experiencia, .formacao {
        width: auto;
    }

    .avatar-img {
        width: 200;
        padding-left: 17%;
    }

    .dadosParticipante {
        padding-left: 15%;
    }

    .linha-dados {
        width: 270px;
        margin-right: 200px;
    }

    .button-cv {
        left: 35%;
        width: 200px;
    }

    .p-instituicao, .p-empresa {
        min-width: 300px;;
        margin-left: 30%;
    }
} 

@media screen and (min-width: 768px) { 

    .avatar-img {
        width: px;
        margin-left: 24%;
    }

    /* .nomeParticipante,.cargoParticipante {
        font-size: 30px;
    } */

    .dadosParticipante {
        display: flex;
        margin-left: 12%;
    }

    /* .button-cv {
        left: 42%;
    } */

    .p-empresa, .p-instituicao {
        display: flex;
        min-width: 400px;
        margin-left: 10%;
    } 

    .p-periodo {
        min-width: 200px;
        right: 100%;
    }
}

@media screen and (min-width: 1024px) {

    .avatar-img {
        width: 220px;
        padding-left: 4%;
    }

    .dadosParticipante {
       padding: 0;
    }

    ul {
        padding: 0;
    }

    /* .button-cv {
        margin-left: 32%;
    } */

    .p-instituicao, .p-empresa {
       display: flex;
       width: 200px !important;

    }

    .p-periodo {
        width: 100px;
    }
}
