/* Alterado por: Ariane

import GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.avatar {
    max-width: 60%;
    padding-top: 15%;
    padding-left: 1%;
}

.avatar-img {
    max-width: 39%;
    max-height: 39%;
    padding-left: 17%;
}

.nomeParticipante, .cargoParticipante {
    max-width: 350px;
    padding-left: 10%;
    font-weight: 800;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.cargoParticipante {
    margin-top: 1.5px;
    font-weight: 300;
}


.dadosParticipante, li {
    max-width: 400px;
    max-height: 400px;
    padding-top: 2%;
    padding-left: 4%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    list-style-type: none;
}


#icon-rede-social {
    width: 24px;
}

#rede-social {
    font-family: 'Roboto', sans-serif;
    color: rgba(33, 36, 36, 0.89);
}

.icon-contato {
    margin-right: 10px;
} 
