#form-login {
    margin-top: 100px;
    margin-bottom: 200px;
}

#form-login h2 {
    margin: 25px auto;
    text-align: center;
    color:#3fafdb;
    font-weight: 400;
}

#form-login p.sub-title {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

#form-login #box-login {
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid #d4d4d4;
    padding: 30px 15px;
    border-radius: 10px;
    margin-top: 50px;
}

#form-login #box-login button {
    width: 100%;
    background-color: #efa6e7;
    border: none; 
}

#form-login #box-login button:hover {
    opacity: 0.8;
}

#box-login .checkbox-form {
    margin-left: 0;
    padding-left: 20px;
}

#box-login .spinner-box {
    text-align: center;
    margin: 30px 0;
}

#box-login .links-box {
    margin-top: 30px;
    text-align: center;
}

.links-box a {
    font-weight: 500;
}

#form-login .validate-error {
    display: block;
    color: #a90000;
}