.box-access-code {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;;
}

.box-access-code h3 {
    color: #212529;
}

.text-info-card {
    font-size: 16px;
    font-weight: 500;
}

.text-info-card.text-info-card--sm {
    font-size: 14px;
}

.link-info-card {
    color: rgb(13, 99, 170);
    text-decoration: underline;
    font-weight: 500;
}

.form-access-code .form-control--block {
    display: inline-block;
    vertical-align: top;
    width: calc(150%/6);
    height: 80px;
    color: #1b1a1b;
    font-size: 32px;
    text-align: center;
    padding: 0;
    border: 2px solid #c2bff1;
    margin: 0 10px 20px 0;
    border-radius: 4px;
    font-weight: 500;
}
.form-access-code .form-control--block:focus {
    box-shadow: -1px 6px 40px 0px rgba(226, 234, 101, 0.52);
    border-color: #efefba;
}

.error-input {
    color: #791179;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .form-access-code .form-control--block {
        width: calc(70%/6);
        margin-bottom: 0;
    }
}
