#form-page {
    margin-top: 150px;
}

#form-page h2 {
    color:#3fafdb;
    font-weight: 400;
    margin: 25px auto;
    text-align: center;
}

#form-page .validate-error {
    display: block;
    color: #a90000;
}

#form-page #datahora-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 

#datahora-box .datahora {
    min-width: 50%;
    display: flex;
    margin: 15px 0;
}

#datahora-box .datahora:first-child {
    justify-content: flex-start;
}

#datahora-box .datahora:last-child {
    justify-content: right;
}

#datahora-box .datahora div:last-child {
    margin-left: 20px;
}

#datahora-box .datahora div {
    width: 160px;
}

#form-page button {
    width: 100%;
    background-color: #efa6e7;
    border: none; 
}

#form-page button:hover {
    opacity: 0.8;
}

#form-page .spinner-box {
    margin-top: 20px;
    text-align: center;
}

#form-page #codigos {
    margin: 20px 0;
}

#codigos .box-codigo {
    text-align: center;
    border: 2px solid #e4e4e4;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

#codigos .box-codigo .result-codigo {
    padding: 5px;
    background-color: #efa6e74f;
    font-weight: 600;
    margin-left: 5px;   
}