@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

.card-deck {
    width: 100%;
    margin: 0 auto 40px 0;
}

.card-deck .card {
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

.card-deck .card .card-body .card-title {
    margin: 5px 0 0 0;
    color: #222;
    text-transform: uppercase;
    font-size: 17px;
}


.title {
    font-weight: bold;
}

.sub-titulo, title {
    font-size: medium;
    font-family: 'Baloo Chettan 2', cursive;
    color: #423758;
    margin: 6px 0;
}

.card-deck .card-text {
    font-size: small;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 16px;
    color: #232120;
    padding-bottom: 15px;
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 92px;
    margin-bottom: 40px;
}

.btn-evento {
    color: #9C6180; 
    border-radius: 5px;
    border: 2px solid #9C6180;
    border-radius: 50px;
    width: 140px;
    background-color: transparent;
}

.btn-evento:hover {
    border: 2px solid #9C6180;
    background-color: #9C6180;
    color: #FFF;
}


@media screen and (min-width: 768px) {
    .card-deck {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 900px) {
    .card-deck {
        width: calc(100% / 4);
    }
}

