@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

.card-deck {
    width: 100%;
    margin: 0 auto 40px 0;
}

.title {
    font-weight: bold;
}

.sub-titulo, title {
    font-size: medium;
    font-family: 'Baloo Chettan 2', cursive;
}

.card-text {
    font-size: small;
    font-family: 'Baloo Chettan 2', cursive;
}

@media screen and (min-width: 768px) {
    .card-deck {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 900px) {
    .card-deck {
        width: calc(100% / 4);
    }
}

