.overview {
    margin-top: 180px;
    position: relative;
}

.overview__profile-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.overview__profile-avatar {
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.overview__profile-thumb {
    width: 100%;
}

.overview__profile-draw {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.overview__admin {
    background-color: #f6f7fb;
    border-radius: 8px;
    min-height: 400px;
    padding: 16px;
}

.overview-title  {
    margin: 0 0 30px 0;
}

.overview__tabs-btn {
    background-color: #fff;
    color: #66615b;
    width: 100%;
    text-align: left;
    border: 2px solid #e2e6f9;
    font-weight: 600;
    margin-bottom: 20px;
}

.overview__tabs-btn.btn-primary:active, 
.overview__tabs-btn.btn-primary:hover,
.overview__tabs-btn.btn-primary:focus {
    background-color: #dce1f3;
    color: #8c98c5;
    border: 2px solid #e2e6f9;
}

.overview-align-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.overview-align-top h2 {
    margin: 0;
}

.overview-btn-new {
    padding: 6px 10px;
    background-color: #3f51b5;
    color: #FFF;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-left: 20px;
}
.overview-btn-new span {
    display: none;
}

.overview-btn-new:hover,
.overview-btn-new:active,
.overview-btn-new:focus {
    color: #FFF;
    background-color: #576ce0;
}

.overview__total {
    background-color: lavender;
    color: #3e64ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

@media all and (min-width: 768px) {
    .overview__admin {
        padding: 40px;
    }

    .overview-btn-new { 
        width: inherit;
        height: inherit;
    }
    .overview-btn-new span {
        display: inline;
    }
        
}