.overview {
    margin-top: 180px;
    position: relative;
}

.overview__profile-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.overview__profile-avatar {
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.overview__profile-thumb {
    width: 100%;
}

.overview__profile-draw {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.overview__admin {
    background-color: #f6f7fb;
    border-radius: 8px;
    min-height: 400px;
    padding: 40px;
}