.image-top {
    padding-top: 140px;
    background-color: #faf8f5;
}

.section-dark.image-top .title {
    color: #222222;
    font-weight: 700;
}
.section-dark.image-top .description p {
    color: #222222;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.event-details p {
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
}