@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

.card-deck {
     float: left;
     width: 277px;
     margin: 0 auto;
}

.title {
    font-weight: bold;
}

.sub-titulo, title {
    font-size: medium;
    font-family: 'Baloo Chettan 2', cursive;
}

.card-text {
    font-size: small;
    font-family: 'Baloo Chettan 2', cursive;
}

