#card_participante {
    padding: 15px;
    align-items: center;
    background-color: #FFF;
    height: 100%;
    box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.3);
}

#card_participante .card_participante-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#card_avatar {
    height: 150px;
    width: 150px;
    position: relative;
    display: block;
    border-radius: 75px;
    overflow: hidden;
    align-items: center;
    align-content: center;
    margin: auto;
}

#card_avatar .card_img {
    position: absolute;
    height: -webkit-fill-available;
}

#card_identidade {
    font-size: 25px;
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 32px;
}

#card_identidade .button {
    color: #9C6180;
    border-radius: 5px;
    border: 2px solid #9C6180;
    border-radius: 50px;
    width: 140px;
    background-color: transparent;
    margin-top: 10px;
}

#card_identidade .button:hover {
    border: 2px solid #9C6180;
    background-color: #9C6180;
    color: #FFF;
    box-shadow: 6px 12px 15px rgba(0,0,0,0.1);
}

.deck_participante.card-deck {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#listacard_participante {
    margin: 15px;
}

#card_participante_conteudo {
    margin: 10px 0;
}

#card_participante_conteudo .card .card-body {
    padding: 10px;
}

#card_participante_conteudo .card .card-body .card-title {
    font-size: 16px;
    font-weight: bold;
}
#card_participante_conteudo .card .card-body .card-subtitle {
    font-size: 16px;
}

.sidebar-evento {
    padding: 20px 40px;
    background-color: #efefef;
    margin-top: 40px;
    border-radius: 6px;
    font-size: 16px;
}

.sidebar-evento .sidebar__info {
    line-height: 28px;
}

@media screen and (min-width: 900px) {
    #card_participante_conteudo {
        width: calc(100% / 3);
    }

    .sidebar-evento {
        margin-left: 20px;
        margin-top: 90px;
    }
}