.overview__admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.overview__admin-label {
    background-color: #f4e3eb;
    padding: 4px;
    border-radius: 8px;
    color: #43486d;
    font-weight: bold;
    flex-basis: 100%;
}
.overview__admin-icon {
    background-color: #faf1f6;
    display: inline-block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    color: #5d4db7;
}

.overview__admin-link {
    display: block;
    margin: 10px 0;
    color: #9B9CAD;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    width: calc(100% / 3);
    text-align: center;
}
.overview__admin-link:hover,
.overview__admin-link:hover {
    color:rgb(102, 97, 91);
}

.overview__admin-link i {
    font-size: 16px;
    display: block;
    margin: 0 auto 10px auto;
}

.overview__admin-nav .overview__admin-link:nth-of-type(1) i {
    color: #151992;
}
.overview__admin-nav .overview__admin-link:nth-of-type(2) i {
    color: #f5ba2f;
}
.overview__admin-nav .overview__admin-link:nth-of-type(3) i {
    color: #f67a63;
}

@media all and (min-width: 768px) {
    .overview__admin-nav {
        display: block;
    }
    .overview__admin-link {
        width: inherit;
        text-align: left;
    }
    .overview__admin-link i {
        display: inline-block;
        margin: 0 30px 0 0;
    }
}