.overview__admin-label {
    background-color: #f4e3eb;
    padding: 4px;
    border-radius: 8px;
    color: #43486d;
    font-weight: bold;
}
.overview__admin-icon {
    background-color: #faf1f6;
    display: inline-block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    color: #5d4db7;
}

.overview__admin-link {
    display: block;
    margin: 10px 0;
    color: #9B9CAD;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
}
.overview__admin-link:hover {
    color:#ccc;
}

.overview__admin-link i {
    margin: 0 32px 0 12px;
    font-size: 16px;
}

.overview__admin-nav .overview__admin-link:nth-of-type(1) i {
    color: #151992;
}
.overview__admin-nav .overview__admin-link:nth-of-type(2) i {
    color: #fcd987;
}
.overview__admin-nav .overview__admin-link:nth-of-type(3) i {
    color: #f67a63;
}